body {
    background-color: rgb(7, 3, 37);
}

.name {
    color:darkgrey;
    font-size: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

p {
    color:darkgrey;
    font-size: 28px;
    position: relative;
    top:50%;
    
    
}

.fa-brands{
    font-size: 100px;
    margin-right:50px;
    margin-left:50px;
    
    

    
}

